<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>thgrt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC5E9BFB1D194F43006FD494</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC5E9C141D194F44006FD494</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC5E9C1F1D194F44006FD494</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
